.menu-bar {
    display: flex;
    justify-content: flex-start;
    position: relative;
    background-color: #fff;
  }
  
  .menu-bar.side-menu .MuiTab-root {
    align-items: flex-start;
    color: #fff;
    margin: 1px;
}
  
  .menu-bar .MuiTab-root {
    font-weight: 600;
  }
  
  .popover-container {
    position: absolute;
    top: 1px;
    right: 1px;
    font-weight: 600;
  }
  .menu-bar.side-menu .MuiTabs-flexContainer{
    flex-direction: column;
  }